body{
    margin: 0;
    padding: 0;
    height: 100vh;
    // overflow: hidden;
    position: relative;
    overflow-x: hidden;
    // border:1px solid red;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
    margin:0;
    padding: 0;
}