<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <a class="add-note" title="添加笔记" href="#"><span class="fa fa-plus"></span> 添加</a>
    </div>
    <div class="content"></div>
    <div class="starrySky"></div>
  <script src="/javascripts/index.js"></script>
  </body>
</html>
