<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <!-- <link rel="shortcut icon" href="/favicon"> -->
  <title>
   Note-App
  </title>
</head>

<body>
  <% if (isLogin){ %>
   <a class="add-note" title="添加笔记" href="javascript:void(0)">
        <svg t="1501946819665" class="icon"  style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2448" xmlns:xlink="http://www.w3.org/1999/xlink" width="3em" height="3em"><defs><style type="text/css"></style></defs><path d="M258.551102 523.764951c5.145184 5.14109 12.253068 8.328689 20.094664 8.334829l217.625506 0.159636 0.165776 217.630622c0 7.840572 3.186576 14.944364 8.332782 20.088524 5.14109 5.142114 12.243859 8.332782 20.091594 8.334829 15.689331 0.016373 28.40084-12.695137 28.385491-28.384467l-0.160659-217.628576 217.625506 0.163729c15.688307 0.014326 28.399817-12.698207 28.385491-28.385491-0.005117-15.688307-12.736069-28.418236-28.424376-28.428469l-217.624483-0.165776-0.165776-217.620389c-0.010233-15.689331-12.735046-28.41619-28.424376-28.429493-15.689331-0.010233-28.40084 12.701277-28.389584 28.385491l0.164752 217.624483-217.624483-0.160659c-15.689331-0.010233-28.40084 12.701277-28.390607 28.385491C250.22139 511.520069 253.408989 518.623861 258.551102 523.764951" p-id="2449" fill="#fff"></path><path d="M920.518672 507.623319c0-108.99746-42.503023-211.475436-119.685893-288.551882C723.649909 141.991921 621.030717 99.54825 511.873622 99.54825c-109.154026 0-211.773218 42.443671-288.961204 119.523187-77.181847 77.076446-119.683846 179.549306-119.683846 288.551882 0 79.410608 22.861684 156.398026 66.124 222.647893 8.576329 13.129019 26.187429 16.824177 39.341007 8.268314 13.149485-8.568143 16.856923-26.152637 8.280594-39.287795-37.2156-56.988945-56.892755-123.254162-56.892755-191.628412 0-193.7047 157.815305-351.299995 351.793228-351.299995 193.986109 0 351.796298 157.595294 351.796298 351.299995 0 193.71084-157.819398 351.306134-351.796298 351.306134-64.238047 0-127.07621-17.440208-181.728948-50.441832-13.43601-8.112772-30.91101-3.807722-39.035038 9.607822-8.123005 13.416568-3.817955 30.867008 9.612938 38.977733 63.531965 38.355563 136.545886 58.626235 211.151048 58.626235 109.151979 0 211.772194-42.443671 288.955064-119.523187C878.011556 719.100802 920.518672 616.625896 920.518672 507.623319" p-id="2450" fill="#fff"></path></svg>
   </a>
    <a class="deleteAll" href="javascript:void(0)">
      <svg t="1502120941148" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2056" xmlns:xlink="http://www.w3.org/1999/xlink" width="3em" height="3em"><defs><style type="text/css"></style></defs><path d="M710.560399 370.362276h-16.541632v416.824801h-54.733341V370.362276h-91.222236v416.824801h-54.733341V370.362276h-91.222235v416.824801h-54.733342V370.362276h-34.907708c-41.23245 0-74.680603-0.608148-74.680604 0v435.434137c0 40.137784 33.448153 72.612899 74.680604 72.612899H710.682029c41.23245 0 74.680603-32.475116 74.680603-72.612899v-435.434137c-0.12163-3.040741-33.569783 0-74.802233 0z m110.561349-130.873501H657.408243v-44.51645c0-25.785485-46.097636-46.705785-72.977788-46.705785H438.353249c-26.880152 0-72.977788 20.920299-72.977789 46.705785v44.51645H201.783585c-20.55541 0-37.218672 16.298373-37.218672 36.488895s16.663262 36.488894 37.218672 36.488894h619.338163c20.55541 0 37.097042-16.298373 37.097043-36.488894 0-20.068892-16.663262-36.488894-37.097043-36.488895z m-236.691293 0H438.353249v-18.244447h146.077206v18.244447z" p-id="2057" fill="#fff"></path></svg>  
    </a> 
   <div class="header">
      <ul class="user-area">
        <li><img src="<%= user.avatar %>" alt=""></li>
        <li><span title="<%= user.username %>"><%= user.username %></span></li>
        <li><span class="line"> | </span> </li>
        <li><a class="logout" href="/auth/logout">注销</a></li>
     </ul>
   </div>
      <%} else { %>
        <div class="signIn">
            <h1>欢迎使用我的便签</h1>
            <a class="logIn" title="GitHub登录" href="/auth/github">
              <svg t="1502178803432" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2159" xmlns:xlink="http://www.w3.org/1999/xlink" width="3em" height="3em"><defs><style type="text/css"></style></defs><path d="M530.01791-7.557299C672.947218-4.362634 790.76646 44.643525 885.072968 139.46118 979.315583 234.342728 1028.002276 354.462128 1031.133048 496.752503 1029.599609 610.546467 996.566773 708.558787 933.759661 795.453672 870.888656 882.412451 789.233021 940.874819 687.13153 977.230106 674.544551 978.827438 665.088342 977.230106 660.424132 972.502002 655.696028 966.176565 652.565256 959.851129 652.565256 953.525692L654.098695 814.429982C654.098695 790.725568 650.967924 771.749259 643.109048 755.967614 636.847505 740.122076 628.988629 729.068536 619.532421 721.20966 677.675322 718.014995 729.55668 699.038685 776.646041 664.280731 822.201963 631.056216 847.375922 566.268412 850.506694 471.450757 850.506694 444.551679 845.77859 419.249933 836.322382 397.142851 826.930067 374.971877 814.343087 354.462128 798.625336 337.083151 801.820001 330.757715 806.484211 314.97607 808.081544 291.207763 811.212315 267.503349 806.484211 237.473499 793.897232 202.715545 793.897232 201.118213 782.907584 201.118213 760.92829 204.248984 738.948995 207.443649 704.382721 224.822626 655.696028 254.852476 614.86821 243.798936 573.976499 237.473499 530.01791 237.473499 486.059321 237.473499 445.16761 243.798936 404.339793 254.852476 357.186538 223.225294 321.086825 207.443649 299.10753 204.248984 277.064343 201.118213 266.074695 201.118213 266.074695 202.715545 253.551609 237.473499 248.823505 267.503349 251.954276 291.207763 255.085048 314.97607 258.21582 330.757715 261.410484 337.083151 245.692733 354.462128 231.508421 373.438438 223.649545 397.142851 214.25723 419.249933 209.529126 444.551679 209.529126 472.984196 212.659898 567.865744 236.236525 631.056216 281.792447 665.878064 327.348368 700.636018 379.229726 719.612327 437.308734 722.743099 429.449859 729.068536 423.188316 736.991305 418.460211 748.044845 412.198668 759.098386 409.067897 773.346591 405.937125 789.128236 388.622041 798.648337 366.642747 801.779109 336.804576 800.24567 306.966406 798.648337 281.792447 781.26936 259.813152 746.447513 248.823505 729.068536 237.833857 716.417663 223.649545 708.558787 209.529126 700.636018 197.00604 695.907914 181.288289 694.310581 168.701309 692.713249 160.842433 694.310581 157.711662 700.636018 154.58089 705.364122 160.842433 713.286891 176.560184 724.340431 192.277936 735.393972 204.801022 746.447513 212.659898 759.098386 220.518774 771.749259 226.84421 785.997464 233.105753 798.648337 240.964629 819.158086 258.21582 836.600956 286.520551 850.785269 313.227949 865.033474 352.522328 866.630807 402.74246 857.110705L404.339793 950.39492C404.339793 958.317689 401.209021 964.643126 396.480917 969.37123 391.752813 975.696667 382.360498 977.230106 369.773518 974.099334 267.672028 939.34138 185.952499 877.684347 123.145387 792.322901 60.274382 706.961454 28.902772 607.351802 27.30544 495.155171 30.436212 351.267463 79.122905 232.745395 173.429413 137.927741 267.672028 43.046193 387.024709-5.959967 528.420578-9.090738L530.01791-7.557299Z" p-id="2160" fill="#fff"></path></svg>
            </a>
        </div>
      <% } %>
    <div class="wrapper">
    </div>

    <div class="noite"></div> 
    
    <!-- 星空页面，再次绝对定位，覆盖在上个背景画布上面 -->
     <div class="constelacao"></div>   

     <div class="lua">
      <div class="textura"></div>
    </div> 

    <!-- 流行容器 -->
     <div class="chuvaMeteoro"></div>    

      <div class="floresta">  
      <!-- <img src="../src/images/bgTree.png" alt="" /> -->
      </div>   
  <script src="/javascripts/index.js"></script>
</body>

</html>